version: 2
workflows:
   version: 2
   eb-sqs-jobs:
     jobs:
       - test-python-3-5
       - test-python-2-7
jobs:
  test-python-3-5: &test-template
    docker:
      - image: circleci/python:3.5-jessie
    steps:
      - add_ssh_keys
      - checkout
      - run:
          name: Install dependencies
          command: |
            sudo pip install -r development.txt
      - run:
          name: Run tests
          command: |
            python -m django test --settings=eb_sqs.test_settings
  test-python-2-7:
    <<: *test-template
    docker:
      - image: circleci/python:2.7-jessie
